@import "../config/variables";

@keyframes moveHeaderLogo {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

header {
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;



  .header__logo {
    color: rgb(0, 145, 230);
    font-size: 55px;
    animation: moveHeaderLogo 1s ;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    li {
      margin-left: 25px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 500;
    }
    i{
      font-size: 16px;
    }
  }
  .header__btn{
    background-color: white;
    color: $bg;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .header__avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 5px;
  }
}